// Colors
$andromeda-dark: #222222;
$andromeda-light: #e7e7e7;

// Font config
@font-face {
    font-family: "Handlee";
    src: url("../fonts/handlee.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Orbitron";
    src: url("../fonts/orbitron.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "PT Serif";
    src: url("../fonts/ptserif-reg.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "PT Serif Bold";
    src: url("../fonts/ptserif-bold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat.ttf") format("truetype");
    font-style: normal;
}