@import 'colors';

// HTML fix for large screens

html, body {
    min-height: 100vh;
}

// Eventually, let's make this a canvas element with some fancy text. For now, contrasty.
#index-header {
    background-color: transparent;
    height: 7em;
    margin-bottom: 1em;
    position: relative;
    #stars {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }
    #galaxy {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }
    .andromeda-header-text {
        padding-top: 1em;
        padding-left: 2em;
        display: inline-block;
        a {
            text-decoration: none;
            color: $andromeda-light;
            font-family: "Orbitron";
            font-weight: 800;
        }
    }
    span {
        width: 75%;
        margin-left: 1em;
        top:-0.2em;
        position: relative;
        display: inline-block;
        .header-link {
            text-decoration: none;
            color: $andromeda-light;
            margin-bottom: 1em;
            margin-left: 2em;
            transition: 0.5s;
            font-size: 1.15em;
            font-family: "Montserrat";
        }
        .header-link:hover {
            color: $andromeda-light-dark;
        }
        .bw {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
        }
        .invert {
            -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
                    filter: invert(100%);
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
    .float-right {
        float: right;
    }
    .float-left {
        float: left;
    }
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .post-container {
        max-width: 27em;
        max-height: 27em;
        min-width: 23em;
        min-height: 23em;
        border: 0.1em solid black;
        text-align: center;
        overflow: hidden;
        position: relative;
        filter: brightness(100%);
        -webkit-filter: brightness(100%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        vertical-align: text-bottom;
        span {
            display: block;
            font-style: italic;
        }
        img {
            object-fit: cover;
            position: absolute;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            filter: brightness(80%);
        }
        h2 {
            // font-family: "Handlee";
            color: $andromeda-light;
            text-transform: uppercase;
        }
        span {
            font-family: "Handlee";
            color: $andromeda-light;
        }
        .post-text {
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 100%;
            margin-bottom: 1em;
        }
    }
    .post-container:hover {
        -webkit-filter: brightness(70%);
        filter: brightness(70%);
    }
}

a.stretched {
    display: block;
    text-decoration: none;
    margin: 1.2em;
}

// Mobile styling
@media only screen and (min-width: 1160px) {
    #index-header {
        .andromeda-header-text {
            padding-top: 1em;
            padding-left: 2em;
            display: inline-block;
        }
        span {
            display: inline-block;
            margin-left: 1em;
            .icon {
                display: block;
            }
        }
    }
}
@media only screen and (max-width: 1160px) {
    #index-header {
        .andromeda-header-text {
            text-align: center;
            width: 100%;
            padding: 0;
            padding-top: 0.5em;
        }
        span {
            display: block;
            text-align: center;
            width: 100%;
            margin: 0;
            padding-top: 1em;
            a {
                padding: 0.5em;
                margin: 0 !important;
            }
            .icon {
                display: none;
            }
        }
    }
}