// Import fonts and colors
@import 'colors';

// Header image styling
.header-image-container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.header-image {
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-position-y: center !important;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    filter: brightness(50%);
}
.andromeda-header-text {
    padding-top: 1em;
    padding-left: 2em;
    a {
        text-decoration: none;
        color: $andromeda-light;
        font-family: "Orbitron";
        font-weight: 800;
    }
}
.text-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 40vh;
    color: $andromeda-light;
    span {
        display: block;
    }
}
.page-title {
    font-size: 3em;
    text-transform: uppercase;
}
.page-description {
    font-size: 1.5em;
    font-style: italic;
    padding: 0.5em;
}

// Body setup - body text in center blocks, images are full width
p {
    margin: 0;
}
.body-container {
    position: relative;
    text-align: left;
    margin-top: 3em;
    * {
        max-width: 100%;
    }
    p, h1, h2, h3, h4 {
        width: 60%;
        margin: 0 auto !important;
        text-align: left;
    }
    h1, h2, h3, h4 {
        text-transform: uppercase;
    }
    p {
        line-height: 1.5em;
    }
    h1 {
        padding-bottom: 1em;
        padding-top: 1.5em;
    }
    h2, h3, h4 {
        padding-top: 1.5em;
        padding-bottom: 0.75em;
    }
    blockquote {
        font-style: italic;
        padding-left: 2em; 
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-top: 2em !important;
        margin-bottom: 2em !important;
        width: 40%;
        margin: 0 auto;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}