@import 'colors';

* {
    margin: 0;
    font-family: "PT Serif";
}
strong {
    font-family: "PT Serif Bold";
}
em {
    font-family: "PT Serif Italic";
}
h1, h2, h3, h4 {
    font-family: "Montserrat";
}
code {
    font-family: "monospace";
    font-size: 0.85em;
}