<!-- Approach adopted from https://github.com/svavs/particle-zola/blob/master/templates/macros.html. Thanks, Silvano! -->
{% macro head() %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | striptags | trim | truncate(length=160) }}{% else %}{{ config.description }}{% endif %}">
  
  {% if config.extra.favicon %}
  <link rel="icon" type="image/x-icon" href="{{ config.extra.favicon }}">
  {% endif %}

  <link rel="stylesheet" href="{{ config.base_url ~ "/main.css" }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/css/nanogallery2.min.css" />
</head>
{% endmacro head %}

{% macro indexfooter() %}
<script type="text/javascript" src="{{ config.base_url ~ "/js/galaxy.js" }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
{% endmacro indexfooter %}


{% macro footer() %}
<script type="text/javascript" src="{{ config.base_url ~ "/js/galaxy.js" }}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script>
  const observer = lozad();
  observer.observe();
</script>
<footer>
  <div class="footer-black">
    <div class="text-block">
      {% if config.extra.name %}
      <p>By {{ config.extra.name }}</p>
      {% endif %}
      {% if config.extra.email %}
      <p>Drop me a letter at <a href="mailto:{{ config.extra.email }}">{{config.extra.email}}</a></p>
      {% endif %}
      {% if config.extra.license %}
      <p class="license">This site is licensed {{ config.extra.license }}</p>
      {% endif %}
    </div>
  </div>
</footer>
{% endmacro footer %}

{% macro pagefooter() %}
<div class="footer-black">
  <div class="text-block">
    {% if config.extra.name %}
    <p>By {{ config.extra.name }}</p>
    {% endif %}
    {% if config.extra.email %}
    <p>Drop me a letter at <a href="mailto:{{ config.extra.email }}">{{config.extra.email}}</a></p>
    {% endif %}
    {% if config.extra.license %}
    <p class="license">This site is licensed {{ config.extra.license }}</p>
    {% endif %}
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/nanogallery2@3.0.5/dist/jquery.nanogallery2.min.js"></script>
<script>
  // Add lazy loading to all elements
  const elements = document.querySelectorAll('body *');
  elements.forEach((element) => {
    element.classList.add('lozad');
    element.setAttribute('data-loaded', 'false')
  });
  const obs = lozad();
  obs.observe();

  // Center normal images
  $("p").each( function(index, element) {
    const items = $(this)[0].children;
    if (items.length > 0 && items[0].tagName == 'IMG') {
      $(this).css("text-align", "center");
    }
  } )

  // Gallery setup
  $(".gallery").each( function( index, element ) {
    const items = $(this)[0].children.length;
    if (items == 1) {
      $(this).nanogallery2({
        // GALLERY AND THUMBNAIL LAYOUT
        thumbnailHeight: 'auto', thumbnailWidth: $( window ).width(),
        thumbnailBorderHorizontal: 1,
        thumbnailBorderVertical: 1,

        // THUMBNAIL TOOLS & LABEL
        thumbnailLabel: { display: false, position:'onBottom', hideIcons: true, titleFontSize: '1em', align: 'right', titleMultiLine:true, displayDescription: false},

        // DISPLAY ANIMATION
        thumbnailDisplayTransition: 'fadeIn',
        thumbnailDisplayTransitionDuration: 500,
        thumbnailDisplayInterval: 30,

        // // THUMBNAIL'S HOVER ANIMATION
        // thumbnailHoverEffect2: 'imageScaleIn90',
        touchAnimation: true,
        touchAutoOpenDelay: 800,

        // DEEP LINKING
        locationHash: false,

        // VIEWER TOOLBAR CONFIG
        viewerTools:    {
          topLeft:    'pageCounter',
          topRight:   'downloadButton, zoomButton, fullscreenButton, closeButton'
        }   
      })
    } else if (items == 2) {
        $(this).nanogallery2({

          // GALLERY AND THUMBNAIL LAYOUT
          galleryDisplayMode: 'fullContent',
          // gallerySorting: 'random',
          thumbnailHeight: '400', thumbnailWidth: 'auto',
          thumbnailAlignment: 'center',
          thumbnailBaseGridHeight: 100,
          thumbnailL1GutterWidth: 4,
          thumbnailL1GutterHeight: 4,
          thumbnailBorderHorizontal: 2,
          thumbnailBorderVertical: 2,

          // THUMBNAIL TOOLS & LABEL
          thumbnailLabel: { display: false, position:'onBottom', hideIcons: true, titleFontSize: '1em', align: 'right', titleMultiLine:true, displayDescription: false},
          
          // DISPLAY ANIMATION
          thumbnailDisplayTransition: 'fadeIn',
          thumbnailDisplayTransitionDuration: 500,
          thumbnailDisplayInterval: 30,

          // // THUMBNAIL'S HOVER ANIMATION
          // thumbnailHoverEffect2: 'imageScaleIn90',
          touchAnimation: true,
          touchAutoOpenDelay: 800,
          
          // DEEP LINKING
          locationHash: false,

          // VIEWER TOOLBAR CONFIG
          viewerTools:    {
            topLeft:    'pageCounter',
            topRight:   'downloadButton, zoomButton, fullscreenButton, closeButton'
          }   
      });
    } else {
      $(this).nanogallery2({
        // GALLERY AND THUMBNAIL LAYOUT
        galleryDisplayMode: 'fullContent',
        // gallerySorting: 'random',
        thumbnailHeight: '250', thumbnailWidth: 'auto',
        thumbnailAlignment: 'center',
        thumbnailBaseGridHeight: 100,
        thumbnailL1GutterWidth: 4,
        thumbnailL1GutterHeight: 4,
        thumbnailBorderHorizontal: 2,
        thumbnailBorderVertical: 2,

        // THUMBNAIL TOOLS & LABEL
        thumbnailLabel: { display: false, position:'onBottom', hideIcons: true, titleFontSize: '1em', align: 'right', titleMultiLine:true, displayDescription: false},

        // DISPLAY ANIMATION
        thumbnailDisplayTransition: 'fadeIn',
        thumbnailDisplayTransitionDuration: 500,
        thumbnailDisplayInterval: 30,

        // // THUMBNAIL'S HOVER ANIMATION
        // thumbnailHoverEffect2: 'imageScaleIn90',
        touchAnimation: true,
        touchAutoOpenDelay: 800,

        // DEEP LINKING
        locationHash: false,

        // VIEWER TOOLBAR CONFIG
        viewerTools:    {
          topLeft:    'pageCounter',
          topRight:   'downloadButton, zoomButton, fullscreenButton, closeButton'
        }
      });
    }
  });
</script>
<!-- Math rendering -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']], displayMath: [ ['$$','$$'] ]}});
</script>
{% endmacro pagefooter %}